/* reset selector */
* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url(../images/bats.gif)
}

/*style for whole doc*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	background-color: white;
	border: 4px solid black;
	box-shadow: 0px 2px 5px 3px black;
	margin: 0 auto;
}
a:link, a:visited {
	color: orange;
	font-weight: bold;
}
a:hover, a:focus {
	color: green;
	font-weight: bold;
}

/*style for header*/
header {
	border-bottom: 2px solid black;
	background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	padding: 1em;
}
header h2 {
	font-size: 200%;
	text-indent: .5em;
	font-weight: bold;
}
header h3 {
	font-size: 110%;
	text-indent: 1em;
}

header img {
	float: left;
}

/*style for main*/
main {
	padding-left: 30px;
	padding-right: 30px;
}
main h1 {
	font-size: 130%;
}
main h1:first-letter {
	font-size: 250%;
}
main h2 {
	font-size: 120%;
	padding-top: .5em;
	padding-bottom: .5em;
}
main h3 {
	font-size: 110%;
	padding-bottom: .5em;
}
main p {
	padding-bottom: 1em;
}
main ul {
	padding-bottom: .5em;
	padding-left: 2.5em;
}

/*style for footer*/
footer {
	font-size: 80%;
	text-align: center;
	border-top: 2px solid black;
	background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
	background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
	background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
	padding-top: 1em;
	padding-bottom: 1em;
}
